.form {
	&__group:not(:last-child) {
		margin-bottom: 2rem;
		margin-top: 2rem;
	}

	&__input {
		font-size: 1.5rem;
		padding: 1.5rem 2rem;
		border: none;
		border-radius: 0.2rem;
		border-bottom: 3px solid transparent;
		display: inline-block;
		background-color: rgba($color: $color-white, $alpha: 0.5);
		width: 40%;
		box-shadow: 0 0 4rem 0.2rem rgba($color: $color-black, $alpha: 0.15);

		&:focus {
			outline: none;
			border-bottom: 3px solid $color-primary;
			&:invalid {
				border-bottom: 3px solid $color-secondary-dark;
			}
		}

		&::-webkit-input-placeholder {
			color: $color-grey;
		}
	}

	&__input:placeholder-shown + &__label {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-4rem);
		transition: all 0.3s;
	}

	&__label {
		font-size: 1.4rem;
		font-weight: 700;
		margin-left: 2rem;
		margin-top: 0.7rem;
		display: block;
		transition: all 0.3s;
	}

	&__radio-group {
		display: inline-block;
		width: 20%;
	}

	&__radio-input {
		display: none;
	}

	&__radio-label {
		font-size: $default-font-size;
		cursor: pointer;
		position: relative;
		padding-left: 5rem;
	}

	&__radio-button {
		height: 3rem;
		width: 3rem;
		border: 0.5rem solid $color-primary;
		border-radius: 10rem;
		display: flex;
		position: absolute;
		left: 0;
		top: -0.4rem;

		&::after {
			content: '';
			opacity: 0;
			height: 1.2rem;
			width: 1.2rem;
			border: 0.5rem solid $color-primary;
			border-radius: 50%;
			display: block;
			margin: auto;
			background-color: $color-primary;
		}
	}

	&__radio-input:checked ~ &__radio-label &__radio-button::after {
		opacity: 1;
	}
}
